.box {
    display:flex;
    padding: 2rem;
}

.h2__mode{
    color: white;
    text-align: center;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr)); /* Define las columnas y su tamaño mínimo */
    gap: 30px; /* Espacio entre las tarjetas */
}
li {
    list-style:none
}

.item {
    margin-left: 300px;
}
  